[Desktop Entry]
Name=Aumix
Comment=Mixer audio
Comment[es]=Mezclador de audio
Comment[pl]=Mikser dźwięku
Comment[pt]=Mixador de áudio
Exec=aumix
Icon=aumix.png
Terminal=true
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
