[Desktop Entry]
Name=Aumix
Comment=Mixer audio
Comment[es]=Mezclador de audio
Comment[pl]=Mikser dźwięku
Comment[pt]=Mixador de áudio
Exec=aumix
Icon=aumix
Terminal=true
Type=Application
Categories=Audio;Mixer;
# vi: encoding=utf-8
